@font-face{
    src: url(fonts/Poppins-Black.ttf);
    font-family: Poppins-Black;
}

@font-face{
    src: url(Poppins-ExtraBold.ttff);
    font-family: Poppins-ExtraBold;
}

h1{
    font-family: Poppins-ExtraBold;
}
p{
    font-family: "lucida console", "courier new";
    font-size: 1em; /*1 em is basically 100%*/
    font-weight: bold;
    font-style: italic;
}