h1{
    /*text-shadow: offest horizantol, offset vertical, blur
    sepparating by coma can make 2nd shadow*/
    text-shadow: 3px 3px 5px red, -3px -3px 5px lightblue;
}
#box1{
    width: 100px;
    height: 100px;
    background-color: rgba(131, 118, 118, 0.349);
    box-shadow: 3px 3px 5px;
}